[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "==8.6.2"
psycopg2-binary = "==2.9.5"
pydantic = "==1.10.5"
typing-extensions = "==4.5.0"
retry = "==0.9.2"
redis = "==4.6.0"

[dev-packages]

[requires]
python_version = "3.11"
